/* !General elements */
#glomePopup,
#glomeWidget
{
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
}

.glome-icon
{
  background-image: url('../images/icons/glome-icon-19x19.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 19px;
  height: 19px;
}

.glome-configuration
{
  background-image: url('../images/icons/config-icon-19x19.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 19px;
  height: 19px;
}

/* !Glome popup lists */
.glome-list-container
{
  display: table;
  width: 100%;
}

.glome-row
{
  display: table-row;
  width: 100%;
}

.glome-row > *
{
  display: table-cell;
  padding-bottom: 10px;
  border-bottom: solid 1px #b8b8b8;
}

.glome-row + .glome-row > *
{
  padding-top: 10px;
}

.glome-actions button
{
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f1f1f1 48%, #f5f5f5 50%, #fdfdfd 100%);
  background-color: #d1d6da;
  cursor: pointer;
  margin: 0;
  border: none;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(25, 63, 95, 0.4);
  text-transform: uppercase;
  color: #959595;
  font-weight: bold;
  font-size: 76%;
}

.glome-actions button + button
{
  margin-left: -0.25em;
}

.glome-actions button:hover
{
  background-image: -moz-linear-gradient(bottom, #0077db 0%, #008aff 100%);
  color: #0066bc;
  text-shadow: 1px 1px 1px #0095fd;
  box-shadow: 0 1px 3px rgba(25, 63, 95, 0.6);
}

/* !Glome switch */
.glome-switch
{
  height: 21px;
  line-height: 21px;
}

.glome-switch > span.glome-switch-toggle
{
  background-image: -moz-linear-gradient(bottom, #7db6fd, #3394ff 44%, #0c89ff 54%, #0077ff 100%);
  box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 60px;
  height: 21px;
  line-height: 21px;
  display: block;
  float: left;
  content: 'On';
  margin-right: 10px;
}

.glome-switch > input[type=checkbox]
{
  position: absolute;
  display: block;
  z-index: -1;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}

.glome-switch > input[type=checkbox]:checked + span.glome-switch-toggle
{
  background-image: -moz-linear-gradient(bottom, #69696d, #232327 100%);
}

.glome-switch > input[type=checkbox] + span.glome-switch-toggle:before
{
  background-image: -moz-linear-gradient(bottom, #bbbbbb, #d9d9d9 48%, #e4e4e4 50%, #f8f8f8);
  content: '';
  position: absolute;
  width: 26px;
  height: 19px;
  border-radius: 3px;
  margin-top: 1px;
  margin-left: 1px;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: cubic-bezier(0, 0.2, 0.5, 1);
  z-index: 10;
}

.glome-switch > input[type=checkbox]:checked + span.glome-switch-toggle:before
{
  margin-left: 33px;
}

.glome-switch > input[type=checkbox] + span.glome-switch-toggle:after
{
  content: 'On';
  color: white;
  position: absolute;
  margin-left: 26px;
  width: 34px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  z-index: 9;
  font-size: 85%;
}

.glome-switch > input[type=checkbox]:checked + span.glome-switch-toggle:after
{
  content: 'Off';
  margin-left: 0;
}

.glome-icon.disabled,
.glome-off .glome-icon
{
  background-image: url('../images/icons/glome-icon-grayscale-19x19.png');
}

/* !Glome popup */
#glomePopup
{
  position: fixed;
  left: 50%;
  top: 50%;
  border: solid 1px white;
  z-index: 100001;
}

#glomePopupMatte
{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#glomePopupWrapper
{
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 700px;
  height: 550px;
  margin-left: -360px;
  margin-top: -275px;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  border-style: none solid;
  border-width: 10px;
  border-color: white;
  padding: 30px 0 45px;
  box-shadow: inset 0 0 1px rgba(223, 223, 223, 0.6), 0 0 5px rgba(0, 0, 0, 0.5);
}

#glomePopupWrapper .glome-popup-header
{
  background-color: white;
  min-height: 25px;
  line-height: 25px;
  margin-top: -25px;
}

#glomePopupWrapper .glome-popup-content
{
  background-image: -moz-radial-gradient(center center, circle farthest-side, rgba(255,255,255,1), rgba(255,255,255,0)), url('../images/dash-pattern-white-4x4.gif');
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 100%;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 10px transparent;
  overflow-y: auto;
}

#glomePopupWrapper .glome-popup-title
{
  line-height: 20px;
  font-size: 115%;
  font-weight: bold;
  float: left;
}

#glomePopupWrapper .glome-popup-close
{
  background-image: url('../images/icons/icon-close-10x10.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 20px;
  float: right;
  cursor: pointer;
}

#glomePopupWrapper .glome-popup-footer
{
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f1f1f1 48%, #f5f5f5 50%, #fdfdfd 100%);
  background-color: #d1d6da;
  width: 100%;
  height: 45px;
  margin-top: -10px;
  box-shadow: 0 1px 3px rgba(25, 63, 95, 0.4);
  line-height: 45px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 13px;
}

#glomePopupWrapper .glome-popup-footer .glome-icon-container
{
  float: right;
}

#glomePopupWrapper .glome-popup-footer .glome-icon-container a
{
  display: block;
  float: left;
}

#glomePopupWrapper .glome-popup-footer .glome-icon-container a + a
{
  border-left: solid 1px #b1b3ba;
  background-position: right center;
  margin-left: 10px;
  padding-left: 10px;
}

@media screen and (max-height: 550px)
{
  #glomePopupWrapper
  {
    top: 0;
    bottom: 0;
    height: auto;
    margin-top: 0;
  }
}

/* !Lists in #glomePopup */
#glomePopup .glome-row > *
{
  vertical-align: middle;
}

#glomePopup .glome-row > .thumbnail
{
  vertical-align: middle;
  max-width: 90px;
  max-height: 90px;
}

#glomePopup .glome-row > * + *
{
  padding-left: 10px;
}

#glomePopup .glome-row > .thumbnail .image-wrapper
{
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f1f1f1 48%, #f5f5f5 50%, #fdfdfd 100%);
  background-color: #d1d6da;
  padding: 5px;
  width: 90px;
  box-shadow: 1px 0 3px rgba(25, 63, 95, 0.4);
  border-radius: 3px;
  box-sizing: padding-box;
  -moz-box-sizing: padding-box;
}

#glomePopup .glome-row > .thumbnail img
{
  max-width: 80px;
  max-height: 80px;
}

#glomePopup .glome-row > .content > *
{
  margin: 0;
  font-weight: bold;
  font-style: normal;
}

#glomePopup .glome-row > .content h2
{
  font-size: 154%;
}

#glomePopup .glome-row > .glome-actions
{
  white-space: nowrap;
}

/* !Glome ticker */
#glomeWidget
{
  background-image: -moz-linear-gradient(bottom, rgba(188,188,188,0.55) 0%, rgba(249,249,249,0.55) 100%);
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 10px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.2);
  z-index: 100002;
}

#glomeWindow:not(.glome-off) #glomeWidget.knocking
{
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 6px rgba(73,166,255,1);
}

#glomeWidget .glome-widget-contents
{
  display: none;
}

#glomeWidget:hover .glome-widget-contents,
#glomeWidget.display .glome-widget-contents
{
  display: block;
  width: 200px;
}

#glomeWidget .glome-icon
{
  padding: 5px 10px;
  float: right;
}

#glomeWidget .glome-counter
{
  background-color: #008ffd;
  border-radius: 8px;
  min-width: 10px;
  height: 16px;
  padding: 0 3px;
  line-height: 17px;
  position: absolute;
  right: -5px;
  margin-top: -10px;
  text-align: center;
  color: white;
  font-size: 85%;
  font-weight: bold;
  display: none;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
}

#glomeWidget .glome-counter:before
{
  content: attr(data-count);
}

#glomeWindow:not(.glome-off) #glomeWidget.knocking .glome-counter:not([data-count="0"])
{
  display: block;
}

#glomeWidget .glome-counter
{
  float: right;
  margin-top: -10px;
}

.glome-off #glomeWidget .glome-counter,
#glomeWidget:hover .glome-counter,
#glomeWidget.display .glome-counter
{
  display: none;
}

.glome-off .glome-required-on,
.glome-on .glome-required-off
{
  display: none !important;
}
