$separator: #b1b1b1
$text_color: #4d4d4d
$button_gray_light: #f3f3f3
$button_gray_medium: #dfdfdf
$button_gray_dark: darken($button_gray_medium, 15)
$button_green_light: #71fa44
$button_green_medium: #37d004
$button_green_dark: darken($button_green_medium, 15)
$button_red_light: #ff5d86
$button_red_medium: #e11548
$button_red_dark: darken($button_red_medium, 25)
$col_width: 120px

@mixin container
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

@mixin appearance-none
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none
  -o-appearance: none
  appearance: none

@mixin button
  background:
    color: $button_gray_medium
    image: -webkit-linear-gradient(top, $button_gray_light 0%, $button_gray_medium 100%)
    image: -moz-linear-gradient(top, $button_gray_light 0%, $button_gray_medium 100%)
    image: -ms-linear-gradient(top, $button_gray_light 0%, $button_gray_medium 100%)
    image: -o-linear-gradient(top, $button_gray_light 0%, $button_gray_medium 100%)
    image: linear-gradient(top, $button_gray_light 0%, $button_gray_medium 100%)
  color: darken($button_gray_medium, 15%)
  text-shadow: 0 1px rgba(255, 255, 255, 0.4)

@mixin button-enable-hover
  background:
    color: $button_green_medium
    image: -webkit-linear-gradient(top, $button_green_light 0%, $button_green_medium 100%)
    image: -moz-linear-gradient(top, $button_green_light 0%, $button_green_medium 100%)
    image: -ms-linear-gradient(top, $button_green_light 0%, $button_green_medium 100%)
    image: -o-linear-gradient(top, $button_green_light 0%, $button_green_medium 100%)
    image: linear-gradient(top, $button_green_light 0%, $button_green_medium 100%)
  color: darken($button_green_medium, 15%)
  text-shadow: 0 1px rgba(255, 255, 255, 0.4)

@mixin button-disable-hover
  background:
    color: $button_red_medium
    image: -webkit-linear-gradient(top, $button_red_light 0%, $button_red_medium 100%)
    image: -moz-linear-gradient(top, $button_red_light 0%, $button_red_medium 100%)
    image: -ms-linear-gradient(top, $button_red_light 0%, $button_red_medium 100%)
    image: -o-linear-gradient(top, $button_red_light 0%, $button_red_medium 100%)
    image: linear-gradient(top, $button_red_light 0%, $button_red_medium 100%)
  color: darken($button_red_medium, 25%)
  text-shadow: 0 1px rgba(255, 255, 255, 0.4)

@mixin close
  background-image: url(../images/icons/icon-close-30x30.png)
  background-position: center center
  background-repeat: no-repeat
  width: 30px
  height: 30px

[data-glome-container="true"]
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  color: $text_color !important
  font-weight: 100 !important

[data-glome-container="true"],
[data-glome-container="true"] input,
[data-glome-container="true"] button,
[data-glome-container="true"] textarea,
[data-glome-container="true"] select
  font:
    family: Helvetica, Arial, sans-serif !important
    size: 13px !important

[data-glome-container="true"] .glome-content
  @include container

[data-glome-container="true"].hidden,
[data-glome-container="true"] .hidden
  display: none !important

[data-glome-container="true"] .glome-clearfix:after
  display: block
  content: ''
  width: 0
  height: 0
  visibility: hidden
  clear: both

[data-glome-container="true"] .glome-layout-cols-2 > *
  float: left

[data-glome-container="true"] .glome-layout-cols-2 > * + *
  float: right

[data-glome-container="true"] .glome-fixed
  position: fixed

/* !General rules */
[data-glome-container="true"] a:link,
[data-glome-container="true"] a:visited
  text:
    decoration: none

[data-glome-container="true"] a:hover,
[data-glome-container="true"] a:visited:hover
  text:
    decoration: underline

[data-glome-container="true"] .glome-close
  right: 0
  top: 0
  padding: 10px
  cursor: pointer
  position: fixed

[data-glome-container="true"] h1
  font:
    size: 185%
    weight: 600

[data-glome-container="true"] p
  line-height: 115%

[data-glome-container="true"] * > h1:first-child
  margin-top: 0

[data-glome-container="true"] hr,
[data-glome-container="true"] .glome-with-separator + .glome-with-separator
  border:
    style: solid none none
    color: $separator
    width: 1px

[data-glome-container="true"] hr.glome-short
  width: 20px
  margin: 0

/* !Button */
[data-glome-container="true"] .glome-button
  @include container
  @include appearance-none
  @include button
  color: $text_color
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4)
  border: none
  height: 35px
  line-height: 35px
  display: inline-block
  text-align: center
  font-weight: bold
  text-decoration: none !important
  cursor: pointer
  padding: 1px 0.5em 0

[data-glome-container="true"] .glome-mouseout,
[data-glome-container="true"] *:hover > .glome-mouseover + .glome-mouseout,
[data-glome-container="true"] .glome-mouseover:hover + .glome-mouseout
  display: none

[data-glome-container="true"] *:hover .glome-mouseover,
[data-glome-container="true"] .glome-mouseover:hover
  display: auto

[data-glome-container="true"] .glome-button:hover
  text-shadow: 0 0 4px rgba(255, 255, 255, 1)

[data-glome-container="true"] .glome-button[data-state="on"],
[data-glome-container="true"] .glome-button[data-state="off"]:hover
  @include button-enable-hover

[data-glome-container="true"] .glome-button[data-state="on"]:hover
  @include button-disable-hover

[data-glome-container="true"] .glome-button[data-state="on"]:hover [data-state="on"]:before
  background:
    image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'><path fill-rule='evenodd' clip-rule='evenodd' fill='#464646' d='M25,0C11.193,0,0,11.193,0,25c0,13.807,11.193,25,25,25c13.807,0,25-11.193,25-25 C50,11.193,38.807,0,25,0z M39.884,28.309H10.115v-6.617l29.769,0.001V28.309z'/>")
    size: 20px 20px

[data-glome-container="true"] .glome-button[data-state="off"] [data-state="on"],
[data-glome-container="true"] .glome-button[data-state="on"] [data-state="off"]
  display: none

[data-glome-container="true"] .glome-button.glome-add[data-state="off"] [data-state="off"]:before
  background:
    image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?> <!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'> <svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'> <path fill-rule='evenodd' clip-rule='evenodd' d='M25,0C11.193,0,0,11.193,0,25c0,13.807,11.193,25,25,25c13.807,0,25-11.193,25-25 C50,11.193,38.807,0,25,0z M39.884,28.309H28.857v11.023H21.14V28.309H10.115v-6.617H21.14V10.667h7.718v11.026h11.026V28.309z'/> </svg>")
    size: 20px 20px

[data-glome-container="true"] .glome-button.glome-add[data-state="off"] [data-state="off"]:before,
[data-glome-container="true"] .glome-button.glome-add[data-state="on"]:hover [data-state="on"]:before
  background:
    repeat: no-repeat
    position: center center
  content: ''
  width: 20px
  height: 20px
  margin-right: 5px
  display: inline-block
  vertical-align: -5px

/* !Next button */
[data-glome-container="true"] .glome-button-next
  @include container
  background:
    image: url(../images/icons/arrow-right.png)
  width: 24px
  height: 17px
  display: inline-block

/* !Table data */
[data-glome-container="true"] .glome-row
  clear: both
  padding: 10px 0

[data-glome-container="true"] .glome-row > *
  display: table-cell
  vertical-align: middle
  width: 100%

[data-glome-container="true"] .glome-row > * + *
  padding-left: 15px

[data-glome-container="true"] .glome-row > .glome-button-container
  padding-left: 0

[data-glome-container="true"] .glome-row > .glome-price-container
  white-space: nowrap

[data-glome-container="true"] .glome-row h1,
[data-glome-container="true"] .glome-row p
  margin: 0

/* !Column widths */
[data-glome-container="true"] .glome-cols-1
  width: $col_width

[data-glome-container="true"] .glome-cols-2
  width: ($col_width + 15) * 1 + $col_width

[data-glome-container="true"] .glome-cols-3
  width: ($col_width + 15) * 2 + $col_width

[data-glome-container="true"] .glome-cols-4
  width: ($col_width + 15) * 3 + $col_width

[data-glome-container="true"] .glome-cols-5
  width: ($col_width + 15) * 4 + $col_width

[data-glome-container="true"] .glome-cols-6
  width: ($col_width + 15) * 5 + $col_width

[data-glome-container="true"] .glome-cols-7,
[data-glome-container="true"] .glome-full-width
  width: ($col_width + 15) * 6 + $col_width
  
[data-glome-container="true"] .glome-full-width
  margin: 0 auto

/* !Admin view */
#glomeAdmin
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0

#glomeAdmin .glome-header,
#glomeAdmin .glome-footer
  @include container
  background:
    color: #ebebeb
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2)

/* !Admin header */
#glomeAdminHeader
  height: 177px
  padding-top: 35px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10001

#glomeAdmin .glome-close
  @include close

/* !Admin navigation */
#glomeAdmin .glome-navigation
  display: block
  float: right
  margin: 45px 0 0
  padding: 0

#glomeAdmin .glome-navigation
  

#glomeAdmin .glome-navigation li
  height: 80px
  overflow: visible

#glomeAdmin .glome-navigation li,
#glomeAdmin .glome-navigation li a
  display: block
  float: left

#glomeAdmin .glome-navigation li a
  @include container
  text-align: center
  color: #cfcdcd
  height: 55px
  line-height: 25px
  clear: both
  font-size: 108%
  letter-spacing: 0.05em

#glomeAdmin .glome-navigation li.selected a,
#glomeAdmin .glome-navigation li:hover a
  text:
    decoration: none !important
    shadow: 1px 0 0 rgba(0, 0, 0, 0.2)
  color: #33cc00

#glomeAdmin .glome-navigation li a:before
  background:
    image: url(../images/icons/icon-set.png)
    repeat: no-repeat
    position: 60px -50px
  display: block
  clear: both
  margin: 0 auto
  width: 60px
  height: 40px
  content: ''

#glomeAdmin .glome-navigation li[data-page="subscriptions"] a:before
  background-position: 0 -50px

#glomeAdmin .glome-navigation li[data-page="subscriptions"].selected a:before,
#glomeAdmin .glome-navigation li[data-page="subscriptions"]:hover a:before
  background-position: 0 0px

#glomeAdmin .glome-navigation li[data-page="statistics"] a:before
  background-position: -60px -50px

#glomeAdmin .glome-navigation li[data-page="statistics"].selected a:before,
#glomeAdmin .glome-navigation li[data-page="statistics"]:hover a:before
  background-position: -60px 0px

#glomeAdmin .glome-navigation li[data-page="rewards"] a:before
  background-position: -120px -50px

#glomeAdmin .glome-navigation li[data-page="rewards"].selected a:before,
#glomeAdmin .glome-navigation li[data-page="rewards"]:hover a:before
  background-position: -120px 0px

#glomeAdmin .glome-navigation li[data-page="settings"] a:before
  background-position: -180px -50px

#glomeAdmin .glome-navigation li[data-page="settings"].selected a:before,
#glomeAdmin .glome-navigation li[data-page="settings"]:hover a:before
  background-position: -180px 0px

#glomeAdmin .glome-navigation li.selected a:before
  background-position-y: 0 !important

#glomeAdmin .glome-navigation li.selected a:after
  background:
    image: url(../images/textures/navigation-triangle.gif)
    position: center bottom
    repeat: no-repeat
  content: ''
  display: block
  margin-top: 16px
  height: 20px

/* !Admin content */
#glomeAdminContent
  @include container
  background-image: url(../images/textures/admin-background-texture.gif)
  overflow-y: scroll
  left: 0
  top: 177px
  right: 0
  bottom: 58px
  padding-bottom: 50px
  position: fixed
  z-index: 10000
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2)

#glomeAdminContent > .glome-full-width
  padding-bottom: 50px

/* !Admin footer */
#glomeAdmin .glome-footer
  height: 58px
  line-height: 58px
  position: fixed
  z-index: 10001
  left: 0
  bottom: 0
  right: 0

/* !Admin pages: subscriptions */
#glomeAdminSubscriptions .glome-counter
  position: fixed
  bottom: 90px
  font-size: 28px
  vertical-align: bottom
  font-weight: 100

#glomeAdminSubscriptions .glome-counter .glome-unit
  font:
    size: 13px
    weight: 500

/* !Admin pages: rewards */
#glomeAdmin .glome-total-rewards
  display: table-cell
  vertical-align: bottom
  padding: 0.5em 0

#glomeAdmin .glome-total-rewards [data-type="currency"],
#glomeAdmin .glome-total-rewards [data-type="full"],
#glomeAdmin .glome-total-rewards [data-type="decimal-separator"]
  font:
    size: 300%
    weight: bold

#glomeAdmin .glome-total-rewards [data-type="cents"]
  font-size: 175%
