/* !General elements */
#glomePopup,
#glomeWidget
{
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
}

#glomePopup a:link,
#glomePopup a:visited,
#glomeWidget a:link,
#glomeWidget a:visited
{
  text-decoration: none;
  color: black;
}

#glomePopup a:hover,
#glomePopup a:visited:hover,
#glomeWidget a:hover,
#glomeWidget a:visited:hover
{
  text-decoration: underline;
  color: #008aff;
}

.glome-icon
{
  background-image: url('../images/icons/glome-icon-19x19.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 19px;
  height: 19px;
}

.glome-icon-36x36
{
  width: 36px;
  height: 36px;
}

.glome-configuration
{
  background-image: url('../images/icons/config-icon-19x19.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 19px;
  height: 19px;
}

/* !Glome popup lists */
.glome-list-container
{
  display: table;
  width: 100%;
}

.glome-list-container .glome-row h2,
.glome-list-container .glome-row p
{
  margin: 0;
}

.glome-row
{
  display: table-row;
  width: 100%;
}

.glome-row > *
{
  display: table-cell;
  padding-bottom: 10px;
  border-bottom: solid 1px #b8b8b8;
}

@media screen and (max-width: 720px)
{
  .glome-row
  {
    display: block;
    border-bottom: solid 1px #b8b8b8;
  }
  
  .glome-row > *
  {
    display: inline-block;
    border-bottom: none;
  }
}

.glome-row.glome-row-disabled > *
{
  color: #888888;
}

.glome-row + .glome-row > *
{
  padding-top: 10px;
}

.glome-row .glome-actions
{
  text-align: right;
}

.glome-row.glome-row-disabled .glome-actions button
{
  visibility: hidden;
}

.glome-actions *
{
  box-sizing: border-box;
}

.glome-actions input
{
  background-color: white;
  cursor: pointer;
  margin: 0;
  padding: 9px;
  border: solid 1px #b4b5c2;
  box-shadow: 0 1px 3px rgba(25, 63, 95, 0.4);
  font-weight: bold;
  font-size: 76%;
}

.glome-actions input:focus
{
  border-color: #42434e;
}

.glome-actions input[type="button"],
.glome-actions input[type="submit"],
.glome-actions button
{
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f1f1f1 48%, #f5f5f5 50%, #fdfdfd 100%);
  background-color: #d1d6da;
  cursor: pointer;
  margin: 0;
  border: none;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(25, 63, 95, 0.4);
  text-transform: uppercase;
  color: #959595;
  font-weight: bold;
  font-size: 76%;
}

.glome-actions button + button
{
  margin-left: -0.25em;
}

.glome-actions input[type="button"]:hover,
.glome-actions input[type="button"]:focus,
.glome-actions input[type="submit"]:hover,
.glome-actions input[type="submit"]:focus,
.glome-actions button:hover,
.glome-actions button:focus
{
  background-image: -moz-linear-gradient(bottom, #0077db 0%, #008aff 100%);
  color: #004596;
  text-shadow: 1px 1px 1px #0095fd;
  box-shadow: 0 1px 3px rgba(25, 63, 95, 0.6);
  outline: none;
}

.glome-actions button::-moz-focus-inner
{
  border: none;
}

/* !Glome switch */
.glome-switch
{
  height: 21px;
  line-height: 21px;
  text-align: left !important;
  padding: 0;
}

.glome-switch > span.glome-switch-toggle
{
  background-image: -moz-linear-gradient(bottom, #69696d, #232327 100%);
  box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 60px;
  height: 21px;
  line-height: 21px;
  display: block;
  float: left;
  content: 'On';
  margin-right: 10px;
  margin-top: -10px;
  vertical-align: top;
}

.glome-switch > input[type=checkbox]
{
  position: relative;
  display: block;
  z-index: -1;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}

.glome-switch > input[type=checkbox]:checked + span.glome-switch-toggle
{
  background-image: -moz-linear-gradient(bottom, #7db6fd, #3394ff 44%, #0c89ff 54%, #0077ff 100%);
}

.glome-switch > input[type=checkbox] + span.glome-switch-toggle:before
{
  background-image: -moz-linear-gradient(bottom, #bbbbbb, #d9d9d9 48%, #e4e4e4 50%, #f8f8f8);
  content: '';
  position: relative;
  display: block;
  width: 26px;
  height: 19px;
  border-radius: 3px;
  margin-top: 1px;
  margin-left: 1px;
  z-index: 10;
}

.glome-switch > input[type=checkbox]:checked + span.glome-switch-toggle:before
{
  margin-left: 33px;
}

.glome-switch > input[type=checkbox] + span.glome-switch-toggle:after
{
  content: 'Off';
  color: white;
  position: relative;
  display: block;
  left: 26px;
  width: 34px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  z-index: 9;
  font-size: 85%;
  margin-top: -19px; /* top margin has to be equal with the height defined in :before */
}

.glome-switch > input[type=checkbox]:checked + span.glome-switch-toggle:after
{
  content: 'On';
  left: 0;
}

.glome-icon.disabled,
.glome-off .glome-icon
{
  background-image: url('../images/icons/glome-icon-grayscale-19x19.png');
}

/* !Glome forms */
form.glome-oneline
{
  white-space: nowrap;
  display: table;
  width: 100%;
}

@media screen and (max-width: 720px)
{
  form.glome-oneline
  {
    white-space: normal;
  }
}

/* !Glome popup */
#glomePopup
{
  position: fixed;
  left: 50%;
  top: 50%;
  border: solid 1px white;
  z-index: 100003;
}

#glomePopupMatte
{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#glomePopupWrapper
{
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 700px;
  height: 550px;
  margin-left: -360px;
  margin-top: -275px;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  border-style: none solid;
  border-width: 10px;
  border-color: white;
  padding: 30px 0 45px;
  box-shadow: inset 0 0 1px rgba(223, 223, 223, 0.6), 0 0 5px rgba(0, 0, 0, 0.5);
}

#glomePopupWrapper .glome-popup-header
{
  background-color: white;
  min-height: 25px;
  line-height: 25px;
  margin-top: -25px;
}

#glomePopupWrapper .glome-popup-navigation
{
  height: 10%;
  width: 100%;
  display: table;
  border-spacing: 3px;
}

#glomePopupWrapper .glome-popup-navigation a
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI5JREFUeNo0jb0NAlEMgxMnooPuWv5EexMALQ0SMzADYzACLRUdLMBm6GHn9CxFcZzoS+6PJ+tqrZm7B+1PXuJsqKEHZsHww7qASx1IKKNAA+LO4AzgyWzsdIjiE/eKwC0yabHIjDcBQ5FE4bNDRD5I0IGpM9yyv1izWK13y8z8EjWv5cStY2oDb8NfgAEAESEcx4T38UAAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center bottom;
  display: table-cell;
  text-align: center;
  margin-right: 0.1em;
  font-size: 138%;
  line-height: 2em;
  color: #42434e;
  border-bottom: solid 3px;
  opacity: 0.3;
  text-decoration: none !important;
  cursor: pointer !important;
  transition-property: all;
  transition-duration: 200ms;
  -moz-transition-property: all;
  -moz-transition-duration: 200ms;
}

#glomePopupWrapper .glome-popup-navigation a.selected,
#glomePopupWrapper .glome-popup-navigation a:hover
{
  opacity: 1;
}


#glomePopupWrapper .glome-popup-content
{
  background-image: -moz-radial-gradient(center center, circle farthest-side, rgba(255,255,255,1), rgba(255,255,255,0)), url('../images/dash-pattern-white-4x4.gif');
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 100%;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 10px transparent;
  overflow-y: auto;
}

#glomePopupWrapper .glome-popup-navigation + .glome-popup-content
{
  height: 90%;
}

#glomePopupWrapper .glome-popup-title
{
  line-height: 20px;
  font-size: 115%;
  font-weight: bold;
  float: left;
}

#glomePopupWrapper .glome-popup-close
{
  background-image: url('../images/icons/icon-close-10x10.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
  float: right;
  cursor: pointer;
  margin-top: -2px;
  margin-right: -7px;
}

#glomePopupWrapper .glome-popup-close:hover
{
  background-image: url('../images/icons/icon-close.png');
}

#glomePopupWrapper .glome-popup-footer
{
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f1f1f1 48%, #f5f5f5 50%, #fdfdfd 100%);
  background-color: #d1d6da;
  width: 100%;
  height: 45px;
  margin-top: -10px;
  box-shadow: 0 1px 3px rgba(25, 63, 95, 0.4);
  line-height: 45px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 13px;
}

#glomePopupWrapper .glome-popup-footer .glome-switch
{
  display: block;
  float: left;
}

#glomePopupWrapper .glome-popup-footer .glome-icon-container
{
  float: right;
}

#glomePopupWrapper .glome-popup-footer .glome-icon-container a
{
  display: block;
  float: left;
}

#glomePopupWrapper .glome-popup-footer .glome-icon-container a + a
{
  border-left: solid 1px #b1b3ba;
  background-position: right center;
  margin-left: 10px;
  padding-left: 10px;
}

@media screen and (max-height: 550px)
{
  #glomePopup,
  #glomePopupWrapper
  {
    top: 0;
    bottom: 0;
    height: auto;
    margin-top: 0;
    border-style: none solid;
  }
  
  #glomePopupWrapper
  {
    padding-bottom: 10px;
  }
  
  #glomePopupWrapper .glome-popup-navigation,
  #glomePopupWrapper .glome-popup-navigation a
  {
    height: 25px;
    line-height: 25px;
  }
  
  #glomePopupWrapper .glome-popup-content
  {
    position: absolute;
    top: 36px;
    bottom: 20px;
    display: block;
    height: auto !important;
  }
  
  #glomePopupWrapper .glome-popup-navigation + .glome-popup-content
  {
    top: 61px;
  }
  
  #glomePopupWrapper .glome-popup-footer
  {
    height: 30px;
    line-height: 30px;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
  }
  
}

@media screen and (max-width: 720px)
{
  #glomePopupWrapper
  {
    left: 0;
    right: 0;
    width: auto;
    margin-left: 0;
  }
  
  #glomePopupWrapper #glomeDisplayAd
  {
    display: block;
  }
}

@media screen and (max-width: 500px)
{
  #glomePopupWrapper #glomeDisplayAd
  {
    display: block;
  }
}

/* !Lists in #glomePopup */
#glomePopup .glome-row > *
{
  vertical-align: middle;
}

#glomePopup .glome-row > .thumbnail
{
  vertical-align: middle;
  min-width: 90px;
  max-height: 90px;
}

#glomePopup .glome-row > .glome-switch-container
{
  vertical-align: middle;
  width: 70px;
}

#glomePopup .glome-row > * + *
{
  padding-left: 10px;
}

#glomePopup .glome-row > .thumbnail .image-wrapper
{
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f1f1f1 48%, #f5f5f5 50%, #fdfdfd 100%);
  background-color: #d1d6da;
  padding: 5px;
  width: 90px;
  box-shadow: 1px 0 3px rgba(25, 63, 95, 0.4);
  border-radius: 3px;
  box-sizing: padding-box;
  -moz-box-sizing: padding-box;
}

@media screen and (max-width: 720px)
{
  #glomePopup .glome-row > * + *
  {
    padding-left: 0;
  }
  
  #glomePopup .glome-row > *
  {
    padding-right: 10px;
  }
}


#glomePopup .glome-row > .thumbnail img
{
  max-width: 80px;
  max-height: 80px;
}

#glomePopup .glome-row > .content > *
{
  margin: 0;
  font-weight: bold;
  font-style: normal;
}

#glomePopup h1
{
  font-size: 185%;
}

#glomePopup h2
{
  font-size: 154%;
}

#glomePopup .glome-row > .glome-actions
{
  white-space: nowrap;
}

#glomePopup .glome-popup-content > *
{
  display: table;
  width: 100%;
  height: 100%;
}

#glomePopup .glome-popup-row-container
{
  display: table;
  height: 100%;
}

#glomePopup .glome-popup-row-container > *
{
  display: table-row;
}

#glomePopup .glome-popup-row-container .glome-tab-header
{
  height: 10%;
}

#glomePopup .glome-popup-row-container .glome-tab-content
{
  height: 80%;
}

#glomePopup .glome-popup-row-container .glome-tab-content-wrapper
{
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

#glomePopup .glome-popup-row-container .glome-tab-footer
{
  height: 10%;
  vertical-align: middle;
}

/* !Category action chooser */
#glomeCategoryAsk > div.glome-wrapper
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#glomeCategoryAsk div.buttons
{
  padding: 2em 0;
}

#glomeCategoryAsk > div.glome-wrapper > *
{
  margin: 2em 0;
}

#glomeCategoryAsk > div.glome-wrapper .buttons button
{
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f1f1f1 48%, #f5f5f5 50%, #fdfdfd 100%);
  background-repeat: inherit;
  background-color: #e6e6e6;
  border: none;
  -moz-appearance: none;
  display: inline-block;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(25, 63, 95, 0.4);
  border-radius: 6px;
  color: #d1d1d1;
  width: 150px;
  height: 120px;
}

#glomeCategoryAsk > div.glome-wrapper .buttons button span.icon
{
  background-image: url('../images/icons/arrows-19x19-set.png');
  background-repeat: no-repeat;
  background-position: -19px 0;
  width: 19px;
  height: 19px;
  margin: 10px auto;
}

#glomeCategoryAsk > div.glome-wrapper .buttons button:hover
{
  cursor: pointer;
  color: #008bff;
}

#glomeCategoryAsk > div.glome-wrapper .buttons button:hover span.icon
{
  background-position: -19px -38px;
}

#glomeCategoryAsk > div.glome-wrapper .buttons button + button
{
  margin-left: 1em;
}

@media screen and (max-width: 400px)
{
  #glomeCategoryAsk > div.glome-wrapper .buttons button + button
  {
    margin-left: 0 !important;
    margin-top: 1em;
    padding: 5px;
  }
}

#glomeCategoryAsk > div.glome-wrapper .buttons button + button
{
  margin-left: 1em;
}

#glomeCategoryAsk > div.glome-wrapper .buttons button > *
{
  display: block;
}

#glomeCategoryAsk > div.glome-wrapper .buttons button > h1
{
  margin: 0;
}

/* !Display a single ad */
#glomeDisplayAd .glome-ad-image
{
  background-color: black;
  text-align: center;
  vertical-align: middle;
  height: 310px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
}

#glomeDisplayAd .glome-ad-image img
{
  min-width: 100%;
  min-height: 100%;
}

#glomeDisplayAd .glome-ad-content-wrapper
{
  display: table;
}

#glomeDisplayAd .glome-ad-content-wrapper > *
{
  display: table-cell;
}

#glomeDisplayAd .glome-ad-content
{
  height: 150px;
  vertical-align: middle;
}

#glomeDisplayAd .glome-ad-content-wrapper > .glome-actions
{
  text-align: right;
  vertical-align: middle;
}

#glomeDisplayAd .glome-ad-content-wrapper > .glome-actions button
{
  background-image: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  height: 36px;
  white-space: nowrap;
  line-height: 36px;
  font-size: 185%;
  font-weight: bold;
  text-transform: none;
  text-align: right;
  box-shadow: none;
  text-shadow: none;
  -moz-appearance: none;
}

#glomeDisplayAd .glome-ad-content-wrapper > .glome-actions button + button
{
  margin-top: 10px;
}

#glomeDisplayAd .glome-ad-content-wrapper > .glome-actions button > *
{
  height: 36px;
  vertical-align: middle;
}

#glomeDisplayAd .glome-ad-content-wrapper > .glome-actions button span.glome-icon-36x36
{
  background-image: url('../images/icons/arrows-36x36-set.png');
  background-position: -36px 0;
  background-repeat: no-repeat;
  display: inline-block;
}

#glomeDisplayAd .glome-ad-content-wrapper > .glome-actions button:hover
{
  color: #008ffd;
}

#glomeDisplayAd .glome-ad-content-wrapper > .glome-actions button:hover span.glome-icon-36x36
{
  background-position: -36px -72px;
}

@media screen and (max-width: 720px)
{
  #glomeDisplayAd .glome-ad-image img
  {
    min-width: inherit;
    min-height: inherit;
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 550px)
{
  #glomeDisplayAd .glome-ad-content
  {
    height: auto;
  }
  
  #glomeDisplayAd .glome-ad-image
  {
    height: auto;
  }
  
  #glomeDisplayAd .glome-ad-content-wrapper,
  #glomeDisplayAd .glome-ad-content-wrapper > *
  {
    display: block;
    text-align: left;
  }
  
  #glomeDisplayAd .glome-ad-content-wrapper > .glome-actions
  {
    text-align: left;
    padding-bottom: 20px;
  }
  
  #glomeDisplayAd .glome-ad-content-wrapper > .glome-actions button
  {
    display: block;
    float: none;
  }
}

/* !Glome ticker */
#glomeWidget
{
  background-image: -moz-linear-gradient(bottom, rgba(188,188,188,0.55) 0%, rgba(249,249,249,0.55) 100%);
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 10px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.2);
  z-index: 100002;
  text-align: center;
}

#glomeWindow:not(.glome-off) #glomeWidget.knocking
{
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 6px rgba(73,166,255,1);
}

#glomeWidget .glome-widget-contents
{
  display: none;
}

#glomeWidget.display .glome-widget-contents
{
  display: block;
  width: 200px;
}

#glomeWidget .glome-icon
{
  padding: 5px 10px;
  float: right;
}

#glomeWidget.display .glome-icon
{
  position: absolute;
  float: none;
  bottom: 0;
  right: 0;
}

#glomeWidget .glome-counter
{
  background-color: #008ffd;
  border-radius: 8px;
  min-width: 10px;
  height: 16px;
  padding: 0 3px;
  line-height: 17px;
  position: absolute;
  right: -5px;
  margin-top: -10px;
  text-align: center;
  color: white;
  font-size: 85%;
  font-weight: bold;
  display: none;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
}

#glomeWidget .glome-counter:before
{
  content: attr(data-count);
}

#glomeWindow:not(.glome-off) #glomeWidget.knocking .glome-counter:not([data-count="0"])
{
  display: block;
}

#glomeWidget.display .glome-counter
{
  display: none !important;
}

#glomeWidget .glome-counter
{
  float: right;
  margin-top: -10px;
}

.glome-off #glomeWidget .glome-counter,
#glomeWidget.display .glome-counter
{
  display: none;
}

.glome-off .glome-required-on,
.glome-on .glome-required-off
{
  display: none !important;
}

#glomeWidget.display #glomeWidgetClose
{
  background-image: url('../images/icons/icon-close-10x10.png');
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  width: 10px;
  height: 10px;
  padding: 7px;
  margin-right: 2px;
  margin-top: 2px;
  cursor: pointer;
}

#glomeWidget #glomeWidgetClose:hover
{
  background-image: url('../images/icons/icon-close.png') !important;
}

#glomeWidget .glome-widget-contents a
{
  text-decoration: none !important;
}

#glomeWidget .glome-widget-contents
{
  padding: 10px 10px 0;
}

#glomeWidget .glome-widget-contents .glome-actions button
{
  padding: 7px 20px;
  border-radius: 4px;
}

#glomeWidget #glomeWidgetPager
{
  background-image: url('../images/dash-pattern-white-4x4.gif');
  background-color: #eceaea;
  margin: 20px -10px 10px;
  line-height: 33px;
  text-align: center;
  padding: 7px;
  height: 19px;
  line-height: 19px;
}

#glomeWidget #glomeWidgetPager span
{
  display: inline-block;
  height: 19px;
  vertical-align: top;
  cursor: pointer;
}

#glomeWidget #glomeWidgetPager span:hover
{
  color: #0088af;
}

#glomeWidget #glomeWidgetPager .glome-pager-previous,
#glomeWidget #glomeWidgetPager .glome-pager-next
{
  background-image: url('../images/icons/arrows-19x19-set.png');
  background-repeat: none;
  width: 19px;
}

#glomeWidget #glomeWidgetPager .glome-pager-previous
{
  background-position: 0 -19px;
  margin-right: 0.4em;
}

#glomeWidget #glomeWidgetPager .glome-pager-previous:hover
{
  background-position: 0 -38px;
}

#glomeWidget #glomeWidgetPager .glome-pager-next
{
  background-position: -19px -19px;
  margin-left: 0.6em;
}

#glomeWidget #glomeWidgetPager .glome-pager-next:hover
{
  background-position: -19px -38px;
}

#glomeWidget #glomeWidgetPager .glome-pager-separator:hover
{
  color: black;
  cursor: default;
}

#glomeWidget #glomeWidgetFooter
{
  padding-bottom: 5px;
  text-align: right;
  margin-right: 25px;
}

#glomeWidget #glomeWidgetFooter .glome-icon-container a
{
  border-right: solid 1px #b0b2b8;
  padding-right: 1em;
}

#glomeWidget .glome-icon-container a
{
  width: 19px;
  height: 19px;
  vertical-align: top;
  display: inline-block;
}

#glomeWidget #glomeWidgetFooter .glome-switch
{
  display: block;
  float: left;
  width: 40px;
  margin-top: -4px;
}