[submodule "js/i18n"]
	path = js/i18n
	url = git://github.com/wikimedia/jquery.i18n.git
[submodule "js/qunit"]
	path = js/qunit
	url = git://github.com/jquery/qunit.git
[submodule "js/jquery.timers"]
	path = js/jquery.timers
	url = git@github.com:adrenalin/jquery.timers.git
